<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div @click="LogCart()" class="cart">Cart({{ cart.length }})</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :class="{'out-of-stock-img': !inStock }" :src="image"> 
            <!-- {'out-of-stock-img': !product.inStock }  -->
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <!-- <h3>{{ product.inStock ? 'In Stock' : 'Out of Stock' }}</h3> -->
            <h3 v-if="inStock > 4">In Stock</h3> <!--  we can use only v-if like in angular2 *ngIf -->
            <h3 v-else-if="inStock <=4 && inStock> 0"> Almost Sold Out</h3>  <!-- this works like a normal else if and it seems like these are chained -->
            <h3 v-else>Out of Stock</h3>
            <!-- <h3 v-show>Out of Stock</h3>  this one does not remove the element just sets display: none to hide it -->
            <p>{{ product.description }}</p>
            <ul>
              <li v-for="detail in product.details">
                {{detail}}
              </li>
            </ul>
            <div 
              v-for="(variant,index) in product.variants" 
              :key="variant.id" 
              :id="variant.id" 
              :style="{ background: variant.color }"
              @mouseover="updateVariant(index)" 
              class="color-circle">
            </div>
            <div>
              <h3>Sizes:</h3>
              <div v-for="size in product.sizes" :key="size" :id="size">
                {{size}}
              </div>
            </div>
            <button 
              v-on:click="addSocksToCart()" 
              :class="{disabledButton: !inStock }"
              :disabled="!inStock" 
              class="button"
              >Add to Cart
            </button>  <!-- short for v-on:click  is @click="" / :class is like [ngClass] in angular-->
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
