<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="product.image">
          </div>
          <div class="product-info">
            <h1>{{ product.name }}</h1>
            <!-- <h3>{{ product.inStock ? 'In Stock' : 'Out of Stock' }}</h3> -->
            <h3 v-if="product.quantity > 10">In Stock</h3> <!--  we can use only v-if like in angular2 *ngIf -->
            <h3 v-else-if="product.quantity < 10 && product.quantity> 0"> Almost Sold Out</h3>  <!-- this works like a normal else if and it seems like these are chained -->
            <h3 v-else>Out of Stock</h3>
            <!-- <h3 v-show>Out of Stock</h3>  this one does not remove the element just sets display: none to hide it -->
            <p>{{ product.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
